<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header">Profile <span class="float-right">@{{user.userName}}</span></h4>
    <div class="card-body">

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <div>
            <h1 class="display-4">{{ user.displayName }}</h1>
            <span [ngSwitch]=" user.statusVal" class="user-status">
                                <span *ngSwitchCase="1" class="badge badge-success">Online</span>
                                <span *ngSwitchCase="2" class="badge badge-warning">Idle</span>
                                <span *ngSwitchCase="3" class="badge badge-danger">DontDisturb</span>
                                <span *ngSwitchCase="4" class="badge badge-secondary">Invisible</span>
                                <span *ngSwitchDefault class="badge badge-secondary">Invisible</span>
                            </span>
          </div>
          <p class="lead">{{ user.about }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div *ngIf="user.isAdmin">
            <span class="badge badge-secondary">Admin</span>
          </div>
          <div *ngIf="user.isBanned">
            <span class="badge badge-danger">Banned</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <label for="createDateTime">Create Date: </label>
          <small id="createDateTime">{{ user.createDateTime | date:'medium' }} </small>
        </div>
        <div class="col-6">
          <label for="lastLoginDate">Last Login: </label>
          <small class="italic" id="lastLoginDate">{{ user.lastLoginDateTime | date:'medium' }} </small>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="float-right">
            <div class="btn-group" role="group">
              <div *ngIf="isEditable">
                <button (click)="edit()" class="btn btn-warning">Edit</button>
              </div>
              <button (click)="returnBack()" class="btn btn-light">Return Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
