<div class="container-fluid">
  <div class="row">
    <div class="col-2">
     
      <div class="page-wrapper chiller-theme toggled">       
        <nav id="sidebar" class="sidebar-wrapper">
          <div class="sidebar-content">
            <div class="sidebar-brand">
              <a href="/">WebChat</a>       
              <!-- <button id="show-sidebar" type="button" class="btn btn-dark">Show/Hide</button>       -->
              <div id="close-sidebar">
                  <i class="material-icons">clear</i>
              </div>
            </div>
            <div class="sidebar-header">
              <!-- <div class="user-pic">
                <img class="img-responsive img-rounded" src=""
                  alt="User picture">
              </div> -->
              <div class="user-info">
                <span class="user-name">
                  <strong>User Name</strong> 
                </span>
                <span class="user-role">Role</span>
                <span class="user-status">
                    <span class="badge badge-success">Online</span>
                    <span class="badge badge-warning">Idle</span>
                    <span class="badge badge-danger">DontDisturb</span>
                    <span class="badge badge-secondary">Invisible</span>
                </span>
              </div>
            </div>
            <!-- sidebar-header  -->
            <div class="sidebar-search">
              <div>
                <div class="input-group">
                  <input type="text" class="form-control search-menu" placeholder="Search...">
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="sidebar-menu">
                <div>
                    <ul class="list-group">
                        <li>
                            <a href="/profile"><span>Profile</span></a>
                        </li>
                        <li>
                            <a href="/Settings"><span>Settings</span></a>
                        </li>
                      </ul>
                </div>
              </div>
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
              <ul>         
                <li>
                  <a href="#">
                    <span>Room1</span>
                    <span class="badge badge-light">9</span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- sidebar-menu  -->
          </div>         
        </nav>
     
    </div>
  </div>
  
    <div class="col-10">
      Chat
    </div>
  </div>
</div>


<script>
$("#close-sidebar").click(function() {
  $(".page-wrapper").removeClass("toggled");
});
$("#show-sidebar").click(function() {
  $(".page-wrapper").addClass("toggled");
});
</script>

<router-outlet></router-outlet>
