<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header">Group Detail</h4>
    <div class="card-body">

      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input [(ngModel)]="group.name" [ngModelOptions]="{standalone: true}" class="form-control" id="name">
          <div *ngIf="nameIsntValid">Name is required, Name must be at least 3 characters and Name must be less than 100
            characters
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input [(ngModel)]="group.description" [ngModelOptions]="{standalone: true}" aria-describedby="descriptionHelp"
                 class="form-control" id="description">
          <small class="form-text text-muted" id="descriptionHelp">We'll never share your email with anyone
            else.</small>
          <div *ngIf="descIsntValid">Desctiption must be less than 250 characters</div>
        </div>
        <div class="form-group form-check">
          <input (click)="isPrivateClick()" [(ngModel)]="group.isPrivate" [ngModelOptions]="{standalone: true}" class="form-check-input"
                 id="isPrivate" type="checkbox">
          <label class="form-check-label" for="isPrivate">Is Private Group</label>
        </div>

        <div *ngIf="group.isPrivate">

          <div class="row">
            <div class="col">
              <h6 class="">Users</h6>
            </div>
          </div>

          <div class="row">
            <div class="col">

              <div class="input-group mb-3">
                <input [(ngModel)]="userSearchKey" [ngModelOptions]="{standalone: true}" aria-describedby="userSearchButton"
                       class="form-control" placeholder="Enter value to search user"
                       type="text">
                <div class="input-group-append">
                  <button (click)="searchUser()" class="btn btn-outline-secondary" id="userSearchButton" type="button">
                    Search
                  </button>
                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col">
              <table class="table table-borderless">
                <thead>
                <tr>
                  <th scope="col">Username</th>
                  <th scope="col">Display Name</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody *ngFor="let item of filteredUserList">
                <tr>
                  <th scope="row">{{item.userName}}</th>
                  <td>{{item.displayName}}</td>
                  <td>
                    <button (click)="addUser(item.id)" class="btn btn-success float-right">Add</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <br/>

          <div class="row">
            <div class="col">
              <h6 class="">Added Users</h6>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <table class="table table-borderless">
                <thead>
                <tr>
                  <th scope="col">Username</th>
                  <th scope="col">Display Name</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody *ngFor="let item of selectedUsers">
                <tr>
                  <th scope="row">{{item.userName}}</th>
                  <td>{{item.displayName}}</td>
                  <td>
                    <button (click)="removeUser(item.id)" class="btn btn-danger float-right">Remove</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col">
            <div class="float-left">
              <div class="btn-group" role="group">
                <button (click)="save()" class="btn btn-primary" type="submit">Submit</button>
                <button (click)="returnBack()" class="btn btn-light">Cancel</button>
              </div>
            </div>
            <div *ngIf="this.isDeleteVisible" class="float-right">
              <button (click)="delete()" class="btn btn-danger float-right">Delete</button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
