<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" [(ngModel)]="group.name" [ngModelOptions]="{standalone: true}" id="name">                    
        <div *ngIf="nameIsntValid">Name is required, Name must be at least 3 characters and Name must be less than 100 characters</div>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input class="form-control" [(ngModel)]="group.description" [ngModelOptions]="{standalone: true}" id="description" aria-describedby="descriptionHelp">
        <small id="descriptionHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <div *ngIf="descIsntValid">Desctiption must be less than 250 characters</div>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="isPrivate" [(ngModel)]="group.isPrivate"
        [ngModelOptions]="{standalone: true}">
        <label class="form-check-label" for="isPrivate" >Is Private Group</label>        
    </div>
    <div class="row">
        <div class="col">
            <div class="float-left">
                <div class="btn-group" role="group">                         
                    <button type="submit" class="btn btn-primary" (click)="save()">Submit</button>
                    <button class="btn btn-light" (click)="returnBack()">Cancel</button>
                </div>       
            </div>
            <div class="float-right" *ngIf="this.isDeleteVisible">
                <button class="btn btn-danger float-right" (click)="delete()">Delete</button>
            </div>
        </div>
    </div>    
</form>