<div id="content" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px;padding-right: 0px;"
            #scrollMe style="overflow: scroll; height: xyz;">
    
    <div class="container">           
        <div class="messaging">  
            <div class="inbox_msg">  
                <div class="mesgs">  
                    <div class="msg_history">  
                    <div *ngFor="let msg of sortMessages">  
                    <div class="incoming_msg" *ngIf="msg.type == 'received'"> 
                        <div class="received_msg">  
                        <div class="received_withd_msg">                           
                            <p>  
                                <span class="badge badge-dark " style="float:left;">{{ getUserName(msg.userId) }}</span>
                                {{msg.text}}   
                            </p>   
                            <span class="time_date"> {{msg.date | date:'medium'}}</span>                          
                        </div>  
                        </div>  
                    </div>  
                    <div class="outgoing_msg" *ngIf="msg.type == 'sent'">  
                        <div class="sent_msg">  
                        <p>  
                            {{msg.text}}<span class="badge badge-dark " style="float:right;">{{ getUserName(msg.userId) }}</span>
                        </p>  
                        <span class="time_date"> {{msg.date | date:'medium'}}</span>  
                        </div>  
                    </div>  
                    </div>  
                    </div>  
                </div>  
            </div>  
        </div>  
    </div>  
</div>

<div class="container">
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <form class="mx-2 my-auto d-inline w-100">
            <div class="input-group">
                <input class="form-control input-group-addon mr-sm-2 "  style="width: 1%;" type="text" [value]="tempMessage"  
                    (input)="tempMessage=$event.target.value" (change)="updateTempMessage()" (keydown.enter)="sendMessage()" placeholder="Type a message" />  
                <span class="input-group-append">
                    <button class="btn btn-outline-success" type="submit" (click)="sendMessage()">Send</button>
                </span>
            </div>
        </form>
    </nav>
</div>