@model List<NGA.Data.ViewModel.APIRouteVM>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">API End Points</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
       
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th width="100">Controller</th>
                <th width="100">Action</th>
                <th width="100">Path</th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].Controller</td>
                    <td>@Model[i].Action</td>
                    <td>@Model[i].Path</td>
               
                </tr>            
                <tr>
                    <th colspan="1">Parameters:</th>
                    <td colspan="2">@Model[i].Parameters</td>
                </tr>
            }
        </tbody>
    </table>
</div>
